<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="YourConnectionString" connectionString="Data Source=DESKTOP-9KR7E56\SQLEXPRESS;Initial Catalog=BankovniSistem;Integrated Security=True;MultipleActiveResultSets=True;
" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
